script(href='https://cdn.tailwindcss.com')
p Thank you #{f_name} for registering with Avuna.
p You can verify your email by clicking on the link below
p 
    a(href=tokenLink class='') Verify email
p 
    a(href=tokenLink class='') #{tokenLink}